unittests/kdwsdl2cpp_jobs/jobs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://example.com/example/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:example="http://example.com/example/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://example.com/example/">
      <xsd:element name="test">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="test" type="xsd:unsignedInt" default="30000"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="testResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:boolean" default="false" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="testIn">
    <wsdl:part name="parameters" element="example:test" />
  </wsdl:message>
  <wsdl:message name="testOut">
    <wsdl:part name="parameters" element="example:testResponse" />
  </wsdl:message>

  <wsdl:portType name="ExampleSoap">
    <wsdl:operation name="testRequestResponse">
      <wsdl:input message="example:testIn" />
      <wsdl:output message="example:testOut" />
    </wsdl:operation>
    <wsdl:operation name="testOneWay">
      <wsdl:input message="example:testIn" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ExampleSoap" type="example:ExampleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testRequestResponse">
      <soap12:operation soapAction="http://example.com/example/testrequestresponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testOneWay">
      <soap12:operation soapAction="http://example.com/example/testoneway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Example">
    <wsdl:port name="ExampleSoap" binding="example:ExampleSoap">
      <soap12:address location="http://localhost/test" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
