unittests/empty_list_wsdl/empty_list.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nicetu.spb.ru/rmv-service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://nicetu.spb.ru/rmv-service" name="RmvServiceImpl">
<types>
<xsd:schema>
<xsd:import namespace="http://nicetu.spb.ru/rmv-service" schemaLocation="1.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://nicetu.spb.ru/dto/service/types" schemaLocation="2.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://nicetu.spb.ru/dto/model/types" schemaLocation="3.xsd"/>
</xsd:schema>
</types>
<message name="getRmvOirs">
<part name="parameters" element="tns:getRmvOirs"/>
</message>
<message name="getRmvOirsResponse">
<part name="parameters" element="tns:getRmvOirsResponse"/>
</message>
<message name="getRmvOir">
<part name="parameters" element="tns:getRmvOir"/>
</message>
<message name="getRmvOirResponse">
<part name="parameters" element="tns:getRmvOirResponse"/>
</message>
<message name="getRmvLaunches">
<part name="parameters" element="tns:getRmvLaunches"/>
</message>
<message name="getRmvLaunchesResponse">
<part name="parameters" element="tns:getRmvLaunchesResponse"/>
</message>
<message name="getRmvLaunch">
<part name="parameters" element="tns:getRmvLaunch"/>
</message>
<message name="getRmvLaunchResponse">
<part name="parameters" element="tns:getRmvLaunchResponse"/>
</message>
<message name="getRmvAggregats">
<part name="parameters" element="tns:getRmvAggregats"/>
</message>
<message name="getRmvAggregatsResponse">
<part name="parameters" element="tns:getRmvAggregatsResponse"/>
</message>
<message name="getNominalFallPoints">
<part name="parameters" element="tns:getNominalFallPoints"/>
</message>
<message name="getNominalFallPointsResponse">
<part name="parameters" element="tns:getNominalFallPointsResponse"/>
</message>
<message name="getRmvTrajectoryMeasuresSet">
<part name="parameters" element="tns:getRmvTrajectoryMeasuresSet"/>
</message>
<message name="getRmvTrajectoryMeasuresSetResponse">
<part name="parameters" element="tns:getRmvTrajectoryMeasuresSetResponse"/>
</message>
<message name="saveAccidentFallPoint">
<part name="parameters" element="tns:saveAccidentFallPoint"/>
</message>
<message name="saveAccidentFallPointResponse">
<part name="parameters" element="tns:saveAccidentFallPointResponse"/>
</message>
<message name="saveRmvRealTrajectory">
<part name="parameters" element="tns:saveRmvRealTrajectory"/>
</message>
<message name="saveRmvRealTrajectoryResponse">
<part name="parameters" element="tns:saveRmvRealTrajectoryResponse"/>
</message>
<message name="getRmvRealTrajectory">
<part name="parameters" element="tns:getRmvRealTrajectory"/>
</message>
<message name="getRmvRealTrajectoryResponse">
<part name="parameters" element="tns:getRmvRealTrajectoryResponse"/>
</message>
<message name="getRmvMeasuresSetInfo">
<part name="parameters" element="tns:getRmvMeasuresSetInfo"/>
</message>
<message name="getRmvMeasuresSetInfoResponse">
<part name="parameters" element="tns:getRmvMeasuresSetInfoResponse"/>
</message>
<message name="getTrajectoryMeasures">
<part name="parameters" element="tns:getTrajectoryMeasures"/>
</message>
<message name="getTrajectoryMeasuresResponse">
<part name="parameters" element="tns:getTrajectoryMeasuresResponse"/>
</message>
<message name="saveTrajectoryMeasures">
<part name="parameters" element="tns:saveTrajectoryMeasures"/>
</message>
<message name="saveTrajectoryMeasuresResponse">
<part name="parameters" element="tns:saveTrajectoryMeasuresResponse"/>
</message>
<message name="getParamMeasures">
<part name="parameters" element="tns:getParamMeasures"/>
</message>
<message name="getParamMeasuresResponse">
<part name="parameters" element="tns:getParamMeasuresResponse"/>
</message>
<message name="saveParamMeasures">
<part name="parameters" element="tns:saveParamMeasures"/>
</message>
<message name="saveParamMeasuresResponse">
<part name="parameters" element="tns:saveParamMeasuresResponse"/>
</message>
<message name="deleteParamMeasures">
<part name="parameters" element="tns:deleteParamMeasures"/>
</message>
<message name="deleteParamMeasuresResponse">
<part name="parameters" element="tns:deleteParamMeasuresResponse"/>
</message>
<message name="deleteTrajectoryMeasures">
<part name="parameters" element="tns:deleteTrajectoryMeasures"/>
</message>
<message name="deleteTrajectoryMeasuresResponse">
<part name="parameters" element="tns:deleteTrajectoryMeasuresResponse"/>
</message>
<portType name="RmvService">
<operation name="getRmvOirs">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvOirs" message="tns:getRmvOirs"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvOirsResponse" message="tns:getRmvOirsResponse"/>
</operation>
<operation name="getRmvOir">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvOir" message="tns:getRmvOir"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvOirResponse" message="tns:getRmvOirResponse"/>
</operation>
<operation name="getRmvLaunches">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvLaunches" message="tns:getRmvLaunches"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvLaunchesResponse" message="tns:getRmvLaunchesResponse"/>
</operation>
<operation name="getRmvLaunch">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvLaunch" message="tns:getRmvLaunch"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvLaunchResponse" message="tns:getRmvLaunchResponse"/>
</operation>
<operation name="getRmvAggregats">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvAggregats" message="tns:getRmvAggregats"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvAggregatsResponse" message="tns:getRmvAggregatsResponse"/>
</operation>
<operation name="getNominalFallPoints">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getNominalFallPoints" message="tns:getNominalFallPoints"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getNominalFallPointsResponse" message="tns:getNominalFallPointsResponse"/>
</operation>
<operation name="getRmvTrajectoryMeasuresSet">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvTrajectoryMeasuresSet" message="tns:getRmvTrajectoryMeasuresSet"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvTrajectoryMeasuresSetResponse" message="tns:getRmvTrajectoryMeasuresSetResponse"/>
</operation>
<operation name="saveAccidentFallPoint">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/saveAccidentFallPoint" message="tns:saveAccidentFallPoint"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/saveAccidentFallPointResponse" message="tns:saveAccidentFallPointResponse"/>
</operation>
<operation name="saveRmvRealTrajectory">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/saveRmvRealTrajectory" message="tns:saveRmvRealTrajectory"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/saveRmvRealTrajectoryResponse" message="tns:saveRmvRealTrajectoryResponse"/>
</operation>
<operation name="getRmvRealTrajectory">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvRealTrajectory" message="tns:getRmvRealTrajectory"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvRealTrajectoryResponse" message="tns:getRmvRealTrajectoryResponse"/>
</operation>
<operation name="getRmvMeasuresSetInfo">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getRmvMeasuresSetInfo" message="tns:getRmvMeasuresSetInfo"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getRmvMeasuresSetInfoResponse" message="tns:getRmvMeasuresSetInfoResponse"/>
</operation>
<operation name="getTrajectoryMeasures">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getTrajectoryMeasures" message="tns:getTrajectoryMeasures"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getTrajectoryMeasuresResponse" message="tns:getTrajectoryMeasuresResponse"/>
</operation>
<operation name="saveTrajectoryMeasures">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/saveTrajectoryMeasures" message="tns:saveTrajectoryMeasures"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/saveTrajectoryMeasuresResponse" message="tns:saveTrajectoryMeasuresResponse"/>
</operation>
<operation name="getParamMeasures">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/getParamMeasures" message="tns:getParamMeasures"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/getParamMeasuresResponse" message="tns:getParamMeasuresResponse"/>
</operation>
<operation name="saveParamMeasures">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/saveParamMeasures" message="tns:saveParamMeasures"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/saveParamMeasuresResponse" message="tns:saveParamMeasuresResponse"/>
</operation>
<operation name="deleteParamMeasures">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/deleteParamMeasures" message="tns:deleteParamMeasures"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/deleteParamMeasuresResponse" message="tns:deleteParamMeasuresResponse"/>
</operation>
<operation name="deleteTrajectoryMeasures">
<input wsam:Action="http://nicetu.spb.ru/rmv-service/deleteTrajectoryMeasures" message="tns:deleteTrajectoryMeasures"/>
<output wsam:Action="http://nicetu.spb.ru/rmv-service/RmvService/deleteTrajectoryMeasuresResponse" message="tns:deleteTrajectoryMeasuresResponse"/>
</operation>
</portType>
<binding name="rmvServicePortBinding" type="tns:RmvService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRmvOirs">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvOirs"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvOir">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvOir"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvLaunches">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvLaunches"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvLaunch">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvLaunch"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvAggregats">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvAggregats"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNominalFallPoints">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getNominalFallPoints"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvTrajectoryMeasuresSet">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvTrajectoryMeasuresSet"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveAccidentFallPoint">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/saveAccidentFallPoint"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveRmvRealTrajectory">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/saveRmvRealTrajectory"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvRealTrajectory">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvRealTrajectory"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRmvMeasuresSetInfo">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getRmvMeasuresSetInfo"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTrajectoryMeasures">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getTrajectoryMeasures"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveTrajectoryMeasures">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/saveTrajectoryMeasures"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParamMeasures">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getParamMeasures"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveParamMeasures">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/saveParamMeasures"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteParamMeasures">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/deleteParamMeasures"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTrajectoryMeasures">
<soap:operation soapAction="http://nicetu.spb.ru/rmv-service/deleteTrajectoryMeasures"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RmvServiceImpl">
<port name="rmvServicePort" binding="tns:rmvServicePortBinding">
<soap:address location="http://192.168.109.162:9080/panda-server/rmv-service"/>
</port>
</service>
</definitions>
