unittests/optionaltype_regular/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.example.org/test/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/test/">
      <xsd:element name="TestOperation">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xs:complexType name="PolymorphicClass">
        <xs:sequence>
          <xs:element name="value" type="xsd:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DerivedClass">
        <xs:complexContent>
          <xs:extension base="tns:PolymorphicClass">
            <xs:sequence>
              <xs:element name="value2" type="xsd:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestOperationResponse1">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
                        <xsd:element name="out2" type="tns:PolymorphicClass" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestOperationRequest">
  	<wsdl:part element="tns:TestOperation" name="parameters" />
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TestOperationResponse1">
  	<wsdl:part name="parameters" element="tns:TestOperationResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="test">
        <wsdl:operation name="TestOperation">
        	<wsdl:input message="tns:TestOperationRequest"></wsdl:input>
        	<wsdl:output message="tns:TestOperationResponse1"></wsdl:output>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testSOAP" type="tns:test">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TestOperation">
      <soap:operation soapAction="http://www.example.org/test/TestOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="test">
    <wsdl:port binding="tns:testSOAP" name="testSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
