unittests/webcalls/thomas-bayer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://namesservice.thomas_bayer.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://namesservice.thomas_bayer.com/" name="NamesServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://namesservice.thomas_bayer.com/" schemaLocation="thomas-bayer.xsd" />
</xsd:schema>
</types>
<message name="getCountries">
<part name="parameters" element="tns:getCountries" />
</message>
<message name="getCountriesResponse">
<part name="parameters" element="tns:getCountriesResponse" />
</message>
<message name="getNamesInCountry">
<part name="parameters" element="tns:getNamesInCountry" />
</message>
<message name="getNamesInCountryResponse">
<part name="parameters" element="tns:getNamesInCountryResponse" />
</message>
<message name="getNameInfo">
<part name="parameters" element="tns:getNameInfo" />
</message>
<message name="getNameInfoResponse">
<part name="parameters" element="tns:getNameInfoResponse" />
</message>
<portType name="NamesService">
<operation name="getCountries">
<input message="tns:getCountries" />
<output message="tns:getCountriesResponse" />
</operation>
<operation name="getNamesInCountry">
<input message="tns:getNamesInCountry" />
<output message="tns:getNamesInCountryResponse" />
</operation>
<operation name="getNameInfo">
<input message="tns:getNameInfo" />
<output message="tns:getNameInfoResponse" />
</operation>
</portType>
<binding name="NamesServicePortBinding" type="tns:NamesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCountries">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getNamesInCountry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getNameInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="NamesServiceService">
<port name="NamesServicePort" binding="tns:NamesServicePortBinding">
<soap:address location="http://www.thomas-bayer.com:80/names-service/soap" />
</port>
</service>
</definitions>
