internal/ABB/IntegrationServerTestClient/WSDL/IntegrationTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.abb.com/de/crc/i3/ewocc/test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegrationTest" targetNamespace="http://www.abb.com/de/crc/i3/ewocc/test">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.abb.com/de/crc/i3/ewocc/test">
			<xsd:element name="NumberList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Number" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StringList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="String"
            				type="xsd:string" minOccurs="0" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DataContainer" type="tns:ContainerType"/>
			<xsd:complexType name="ContainerType">
				<xsd:sequence>
					<xsd:element ref="tns:NumberList"/>
					<xsd:element name="DateTime" type="xsd:dateTime"/>
					<xsd:element name="String" type="xsd:string"/> 
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NumberTransferRequest">
		<wsdl:part name="NumberTransferRequest" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="NumberTransferResponse">
		<wsdl:part name="NumberTransferResponse" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="StringTransferRequest">
		<wsdl:part name="StringTransferRequest" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="StringTransferResponse">
		<wsdl:part name="StringTransferResponse" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="ListOfNumbersRequest">
		<wsdl:part name="ListOfNumbersRequest" element="tns:NumberList"/>
	</wsdl:message>
	<wsdl:message name="ListOfNumbersResponse">
		<wsdl:part name="ListOfNumbersResponse"
  		element="tns:NumberList">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ListOfStringsRequest">
		<wsdl:part name="ListOfStringsRequest" element="tns:StringList"/>
	</wsdl:message>
	<wsdl:message name="ListOfStringsResponse">
		<wsdl:part name="ListOfStringsResponse"
  		element="tns:StringList">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ContainerTransferRequest">
		<wsdl:part name="ContainerTransferRequest"
  		element="tns:DataContainer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ContainerTransferResponse">
		<wsdl:part name="ContainerTransferResponse"
  		element="tns:DataContainer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IntegrationTest">
		<wsdl:operation name="NumberTransfer">
			<wsdl:input message="tns:NumberTransferRequest"/>
			<wsdl:output message="tns:NumberTransferResponse"/>
		</wsdl:operation>
		<wsdl:operation name="StringTransfer">
			<wsdl:input message="tns:StringTransferRequest"/>
			<wsdl:output message="tns:StringTransferResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ListOfNumbers">
			<wsdl:input message="tns:ListOfNumbersRequest"/>
			<wsdl:output message="tns:ListOfNumbersResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ListOfStrings">
			<wsdl:input message="tns:ListOfStringsRequest"/>
			<wsdl:output message="tns:ListOfStringsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ContainerTransfer">
			<wsdl:input message="tns:ContainerTransferRequest"/>
			<wsdl:output message="tns:ContainerTransferResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IntegrationTestSOAP" type="tns:IntegrationTest">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NumberTransfer">
			<soap:operation soapAction="http://www.abb.com/de/crc/i3/ewocc/test/NumberTransfer"/>
			<wsdl:input>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StringTransfer">
			<soap:operation soapAction="http://www.abb.com/de/crc/i3/ewocc/test/StringTransfer"/>
			<wsdl:input>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListOfNumbers">
			<soap:operation soapAction="http://www.abb.com/de/crc/i3/ewocc/test/ListOfNumbers"/>
			<wsdl:input>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListOfStrings">
			<soap:operation soapAction="http://www.abb.com/de/crc/i3/ewocc/test/ListOfStrings"/>
			<wsdl:input>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ContainerTransfer">
			<soap:operation soapAction="http://www.abb.com/de/crc/i3/ewocc/test/ContainerTransfer"/>
			<wsdl:input>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.abb.com/de/crc/i3/ewocc/test" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="IntegrationTest">
		<wsdl:port binding="tns:IntegrationTestSOAP" name="IntegrationTestSOAP">
			<soap:address location="http://localhost:6949"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
