unittests/default_attribute_value_wsdl/default_attribute_value.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://recetu.com/"
  xmlns:tns="http://recetu.com/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:nic="http://recetu.com/AIPSchema"
  name="BackendImplService"
>
  <types>
    <xsd:schema
      targetNamespace="http://recetu.com/"
      xmlns:tns="http://recetu.com/"
      xmlns:nic="http://recetu.com/AIPSchema"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>
       <xsd:simpleType name="synchronizationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AUTOMATIC"/>
          <xsd:enumeration value="BEGIN"/>
          <xsd:enumeration value="MIDDLE"/>
          <xsd:enumeration value="END"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="state">
        <xsd:attribute type="xsd:string" name="errorDescription" use="optional" default="defaultError"/>
        <xsd:attribute type="xsd:boolean" name="isCancelled" default="true"/>
        <xsd:attribute type="xsd:int" name="intValue" default="1985"/>
        <xsd:attribute type="xsd:double" name="doubleValue" default="1985.145"/>
        <xsd:attribute type="xsd:hexBinary" name="byteArrayValue" default="0xFFAA"/>
        <xsd:attribute type="tns:synchronizationType" name="enumerationValue" default="MIDDLE"/>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="getState" />
  <message name="getStateResponse">
    <part name="state" type="tns:state"/>
  </message>
  <portType name="Backend">
    <operation name="getState">
      <input wsam:Action="http://recetu.com/Backend/getStateRequest" message="tns:getState" />
      <output wsam:Action="http://recetu.com/Backend/getStateResponse" message="tns:getStateResponse" />
    </operation>
  </portType>
  <binding name="BackendImplPortBinding" type="tns:Backend">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
     <operation name="getState">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://recetu.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://recetu.com/" />
      </output>
    </operation>
  </binding>
  <service name="BackendImplService">
    <port name="BackendImplPort" binding="tns:BackendImplPortBinding">
      <soap:address location="${ENDPOINT}/test_empty_element" />
    </port>
  </service>
</definitions>
