unittests/multiple_input_param/helloworldextended.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HelloService"
   targetNamespace="http://www.ecerami.com/wsdl/HelloService.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://www.ecerami.com/wsdl/HelloService.wsdl"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
    <xsd:schema targetNamespace="http://www.ecerami.com/wsdl/HelloService.wsdl" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="SayHello">
        <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="msgElement" type="xsd:string"/>
            <xsd:element name="secondpartElement" type="xsd:int"/>
        </xsd:sequence>
       </xsd:complexType>
    </xsd:element>
    </xsd:schema>
    </types>

   <message name="SayHelloRequest">
      <part name="parameters" element="tns:SayHello"/>
   </message>
   <message name="SayHelloResponse">
      <part name="reply" type="xsd:string"/>
   </message>

   <portType name="Hello_PortType">
      <operation name="sayHello">
         <input message="tns:SayHelloRequest"/>
         <output message="tns:SayHelloResponse"/>
      </operation>
   </portType>

   <binding name="Hello_Binding" type="tns:Hello_PortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="sayHello" style="document">
         <soap:operation soapAction="sayHello"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:helloservice"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:helloservice"
               use="encoded"/>
         </output>
      </operation>
</binding>

   <service name="Hello_Service">
      <documentation>WSDL File for HelloService</documentation>
      <port binding="tns:Hello_Binding" name="Hello_Port">
         <http:address location="http://localhost:8081/hello" />
      </port>
   </service>
</definitions>

