unittests/list_restriction/dto-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:model="http://nicetu.spb.ru/dto/model/types"
        targetNamespace="http://nicetu.spb.ru/dto/service/types"
        xmlns="http://nicetu.spb.ru/dto/service/types"
        elementFormDefault="qualified">

    <xsd:import namespace="http://nicetu.spb.ru/dto/model/types" schemaLocation="dto-model.xsd"/>

    <xsd:complexType name="oir">
        <xsd:sequence>
            <xsd:element name="simpleOirId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>UUID ОИРа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="time" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Дата и время начала ОИР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="task" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Задача ОИР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rmvOir">
        <xsd:complexContent>
            <xsd:extension base="oir">
                <xsd:sequence>
                    <xsd:element name="launches" type="rmvLaunch" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Пуски в рамках ОИР</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="launchInfo">
        <xsd:sequence>
            <xsd:element name="simpleLaunchId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>UUID пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="azimuth" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Азимут пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stateName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Имя статуса пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startTime" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Расчетное время и дата старта (время начала движения (отрыва))
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="realStartTime" type="model:timestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Фактическая дата и время старта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startPositionName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Стартовая позиция</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startPolygonName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Стартовый полигон</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareIndex" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Индекс изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareComplex" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Комплекс изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oirTask" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Задача ОИР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareSerialNumber" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Серийный номер изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="simpleGeoPoint">
        <xsd:annotation>
            <xsd:documentation>Геодезическая точка на предопределенном эллипсоиде</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="b" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Широта, рад (только для МСК)</xsd:documentation>
                    <!-- geoPointType.latitude -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="l" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Долгота, рад (только для МСК)</xsd:documentation>
                    <!-- geoPointType.longitude -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="h" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Высота, м</xsd:documentation>
                    <!-- geoPointType.altitude -->
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rmvLaunch">
        <xsd:sequence>
            <xsd:element name="launchId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>UUID пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oirUuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>UUID ОИР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Имя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startTime" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Расчетное время и дата старта (время начала движения (отрыва))
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="realStartTime" type="model:timestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Фактическая дата и время старта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="launchWare" type="launchWare">
                <xsd:annotation>
                    <xsd:documentation>Изделие</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oirTask" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Задача ОИР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="otpDelta" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дельта ОТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startPosition" type="startPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Стартовая позиция</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startPolygonName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Стартовый полигон</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="psoLaunchObject">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Условное наименование или условный номер пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stateName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Имя статуса пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startTime" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Расчетное время старта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="realStartTime" type="model:timestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Фактическое время старта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="otpDelta" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дельта ОТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="start" type="startPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Стартовая позиция</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ware" type="launchWare">
                <xsd:annotation>
                    <xsd:documentation>Изделие</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agregats" type="psoAggregate" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Агрегаты изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ftp" type="realFallPoint" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>ФТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seances" type="seanceInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Метаданные сеансов пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="startPoint">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="startPositionName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Название стартовой позиции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coordinateSystem" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Точка стояния</xsd:documentation>
                    <!-- startPositionType.getStartCoordinates(): -->
                    <!-- if (startPositionType.getStartCoordinates().getDeviations() == null) {
                            coordinateSystem.setCrdSysType(CrdSysCategory.MSK.getIdentifier(); 
                         } else {
                            coordinateSystem.setCrdSysType(CrdSysCategory.MUSK.getIdentifier()); 
                            coordinateSystem.setEtha(startPositionType.getStartCoordinates().getDeviations().getEtha());   
                            coordinateSystem.setKsi(startPositionType.getStartCoordinates().getDeviations().getKsi());
                         }
                         coordinateSystem.setEllipse(startPositionType.getStartCoordinates().getEllipsoid()); 
                         coordinateSystem.setAzimuth(0.0); 
                         coordinateSystem.setBindingPoint(
                            {startPositionType.getStartCoordinates().getLatitude, 
                             startPositionType.getStartCoordinates().getLongitude(), 
                             startPositionType.getStartCoordinates().getAltitude()}) --> 
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="coordinateSystem">
        <xsd:sequence>
            <xsd:element name="ellipse" type="model:ellipseType">
                <xsd:annotation>
                    <xsd:documentation>Эллипсоид, на котором задана СК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="crdSysType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип системы координат</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="absFreezeTime" type="model:timestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Время заморозки (для инерциальных систем, для остальных - null)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="azimuth" type="xsd:double"  minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Азимут системы координат</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="etha" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Уклонениe в плоскости 1-ого вертикала</xsd:documentation>
                    <!-- if (coordinateSystemType.getBindingPoint().getDeviations() != null) {
                            setEtha(coordinateSystemType.getBindingPoint().getDeviations().getEtha());
                         } 
                    -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ksi" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Уклонение в меридианальной плоскости</xsd:documentation>
                    <!-- if (coordinateSystemType.getBindingPoint().getDeviations() != null) {
                            setKsi(coordinateSystemType.getBindingPoint().getDeviations().getKsi());
                         } 
                    -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bindingPoint" type="xsd:double" minOccurs="0" maxOccurs="3">
                <xsd:annotation>
                    <xsd:documentation>Точка отсчета СК или null, если СК ее не предполагает.</xsd:documentation>
                    <!-- if (coordinateSystemType.getBindingPoint() != null) {
                            setBindingPoint(
                                { coordinateSystemType.getBindingPoint().getLatitude(), 
                                  coordinateSystemType.getBindingPoint().getLongitude(), 
                                  coordinateSystemType.getBindingPoint().getAltitude() });
                         } -->
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="launchWare">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="wareClass" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Класс изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareIndex" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Индекс изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="aggregate">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="type" type="model:agregatCategoryType">
                <xsd:annotation>
                    <xsd:documentation>Тип агрегата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Номер агрегата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Имя агрегата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="separateTime" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Время отделения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nominalTrajectory" type="trajectory" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Расчетная траектории агрегата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nominalFallPoint" type="aggregateFallPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Расчетная точка падения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mass" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Масса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="midel" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Площадь миделя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cx" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Коэф.лобового сопротивления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orbitParameters" type="orbitParameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Параметры орбиты</xsd:documentation>
                    <!-- agregatType.AgregatOrbitParameters -->
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rmvAggregate">
        <xsd:annotation>
            <xsd:documentation>Отделяющаяся часть в РМВ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="aggregate">
                <xsd:sequence>
                    <xsd:element name="amgModel" type="amgModel" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Аэромассгабаритная модель</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="psoAggregate">
        <xsd:complexContent>
            <xsd:extension base="aggregate">
                <xsd:sequence>
                    <xsd:element name="amgModel" type="amgModelExtra" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Аэромассгабаритная модель</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="realFallTime" type="xsd:double" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Фактическое полетное время</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="reallFallPoint" type="xsd:long" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Фактическая точка падения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="amgModel">
        <xsd:sequence>
            <xsd:element name="CxOfHeightTable" type="doublesTabularFunction" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Таблица Cx от высоты</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CxOfMachTable" type="doublesTabularFunction" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Таблица Cx от числа маха</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MassLossOfHeightTable" type="doublesTabularFunction" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Таблица уноса массы от высоты</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MidelLossOfHeightTable" type="doublesTabularFunction" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Таблица уноса площади миделя от высоты</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doublesTabularFunctionEntry">
        <xsd:attribute name="argument" type="xsd:double" use="required">
            <xsd:annotation>
                <xsd:documentation>Аргумент</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
            <xsd:annotation>
                <xsd:documentation>Значение</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="doublesTabularFunction">
        <xsd:sequence>
            <xsd:element name="entry" type="doublesTabularFunctionEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Значения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="amgModelExtra">
        <xsd:annotation>
            <xsd:documentation>Полная АМГХ-модель</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование модели</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tables2D" type="amgTable2D" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>1-параметрические функции АМГХ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tables3D" type="amgTable3D" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>2-параметрические функции АМГХ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="amgTable2D">
        <xsd:annotation>
            <xsd:documentation>1-параметрическая функция АМГХ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arg" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Параметр аргумента</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="f1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Параметр первой функции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="f2" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Параметр второй функции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="values" type="model:amgTable2DValuesType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Значения функции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="amgTable3D">
        <xsd:annotation>
            <xsd:documentation>2-параметрическая функция АМГХ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arg1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Параметр аргумента</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arg2" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Параметр первой функции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="f" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Параметр второй функции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="values" type="model:amgTable3DValuesType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Значения функции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="trajectory">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="category" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип траектории</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coordinateSystem" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Система координат</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="points" type="trajectoryPoint" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Точки траектории</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="realTrajectory">
        <xsd:annotation>
            <xsd:documentation>Опытная траектория (с ковариациями), расшивает trajectoryType</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="category" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип траектории</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coordinateSystem" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Система координат</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="points" type="realTrajectoryPoint" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Точки траектории</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="trajectoryPoint">
        <xsd:annotation>
            <xsd:documentation>Точка траектории</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="time" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Время</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cv" type="xsd:double" minOccurs="6" maxOccurs="6">
                <xsd:annotation>
                    <xsd:documentation>Вектор состояния</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="realTrajectoryPoint">
        <xsd:annotation>
            <xsd:documentation>Точка опытной траектории</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="trajectoryPoint">
                <xsd:sequence>
                    <xsd:element name="covMatrix" type="xsd:double" minOccurs="36" maxOccurs="36">
                        <xsd:annotation>
                            <xsd:documentation>Ковариационная матрица точки траектории</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="aggregateFallPoint">
        <xsd:annotation>
            <xsd:documentation>Расчетная точка падения агрегата</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="expectedFallTime" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Расчетное полное полетное время</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="scatteringEllipseAxes" type="model:scatteringEllipseAxesType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Оси эллипса рассеивания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="scatteringEllipseCenter" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Координаты точки падения</xsd:documentation>
                    <!-- scatteringEllipseType.getScatteringEllipseCenter(): -->
                    <!-- scatteringEllipseCenter.setCrdSysType(CrdSysCategory.MSK.getIdentifier(); 
                         scatteringEllipseCenter.setEllipse(scatteringEllipseType.getScatteringEllipseCenter().getEllipsoid()); 
                         scatteringEllipseCenter.setAzimuth(scatteringEllipseType.getAzimuth());
                         scatteringEllipseCenter.setBindingPoint(
                            { scatteringEllipseType.getScatteringEllipseCenter().getLatitude(), 
                              scatteringEllipseType.getScatteringEllipseCenter().getLongitude(), 
                              scatteringEllipseType.getScatteringEllipseCenter().getAltitude()}) -->                              
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rmvAggregateFallPoint">
        <xsd:annotation>
            <xsd:documentation>Расчетная точка падения агрегата</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aggregate" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор агрегата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nominalFallPoint" type="aggregateFallPoint">
                <xsd:annotation>
                    <xsd:documentation>Расчетная точка падения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="forecastFallPoint">
        <xsd:annotation>
            <xsd:documentation>Прогнозируемая точка падения агрегата</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="forecastFallTime" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Прогнозируемое полное полетное время</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skoForecastFallTime" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>СКО времени точки падения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="scatteringEllipseAxes" type="model:scatteringEllipseAxesType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Оси эллипса рассеивания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ScatteringEllipseCenter" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Координаты точки падения</xsd:documentation>
                    <!-- scatteringEllipseType.getScatteringEllipseCenter(): -->
                    <!-- scatteringEllipseCenter.setCrdSysType(CrdSysCategory.MSK.getIdentifier(); 
                         scatteringEllipseCenter.setEllipse(scatteringEllipseType.getScatteringEllipseCenter().getEllipsoid()); 
                         scatteringEllipseCenter.setAzimuth(scatteringEllipseType.getAzimuth());
                         scatteringEllipseCenter.setBindingPoint(
                            { scatteringEllipseType.getScatteringEllipseCenter().getLatitude(), 
                              scatteringEllipseType.getScatteringEllipseCenter().getLongitude(), 
                              scatteringEllipseType.getScatteringEllipseCenter().getAltitude()}) -->                              
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="realFallPoint">
        <xsd:annotation>
            <xsd:documentation>Фактическая точка падения</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование ФТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="realFallPoint" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Координаты точки падения</xsd:documentation>
                    <!-- factFallPointType.getFactFallPointCoordinates(): -->
                    <!-- realFallPoint.setCrdSysType(CrdSysCategory.MSK.getIdentifier(); 
                         realFallPoint.setEllipse(factFallPointType.getFactFallPointCoordinates().getEllipsoid()); 
                         realFallPoint.setAzimuth(0.0); 
                         realFallPoint.setBindingPoint(
                            {factFallPointType.getFactFallPointCoordinates().getLatitude, 
                             factFallPointType.getFactFallPointCoordinates().getLongitude(), 
                             factFallPointType.getFactFallPointCoordinates().getAltitude()}) -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geoSko" type="xsd:double" minOccurs="0" maxOccurs="3">
                <xsd:annotation>
                    <xsd:documentation>CKO координат точки падения</xsd:documentation>
                    <!-- factFallPointType.getFactFallPointCoordinates().getGeoSko() -->
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="singleTrajectoryPoint">
        <xsd:annotation>
            <xsd:documentation>Отдельная точка траектории (НУ, точка входа и т.п.)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="coordinateSystem" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Система координат</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="point" type="realTrajectoryPoint">
                <xsd:annotation>
                    <xsd:documentation>Точка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="soompFallPoint">
        <xsd:annotation>
            <xsd:documentation>Падения агрегата по измерениям СООМП</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="soompFallTime" type="model:timestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Время падения агрегата по измерениям СООМП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skoFallTime" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>СКО времени падения агрегата по измерениям СООМП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soompFallPoint" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Координаты точки падения</xsd:documentation>
                    <!-- soompFallPointType.getSoompFallPointCoordinates(): -->
                    <!-- soompFallPoint.setCrdSysType(CrdSysCategory.MSK.getIdentifier();
                         soompFallPoint.setEllipse(soompFallPointType.getSoompFallPointCoordinates().getEllipsoid()); 
                         soompFallPoint.setAzimuth(0.0); 
                         soompFallPoint.setBindingPoint(
                            {soompFallPointType.getSoompFallPointCoordinates().getLatitude, 
                             soompFallPointType.getSoompFallPointCoordinates().getLongitude(), 
                             soompFallPointType.getSoompFallPointCoordinates().getAltitude()}) -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geoSko" type="xsd:double" minOccurs="0" maxOccurs="3">
                <xsd:annotation>
                    <xsd:documentation>CKO координат точки падения</xsd:documentation>
                    <!-- soompFallPointType.getSoompFallPointCoordinates().getGeoSko() -->
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="measuresSetInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор набора ВТИ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Имя набора ВТИ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание набора ВТИ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agregat" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор агрегата (для идентифицированных и бортовых измерений)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="measurer" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="category" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Категория измерений</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="params" type="xsd:string" minOccurs="0" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Параметры измерений</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="trajectMeasuresSet">
        <xsd:annotation>
            <xsd:documentation>Набор бортовых измерений</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="measuresSetInfo">
                <xsd:sequence>
                    <xsd:element name="measures" type="trajectory">
                        <xsd:annotation>
                            <xsd:documentation>Бортовые траекторные измерения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="paramMeasuresSet">
        <xsd:annotation>
            <xsd:documentation>Набор измерений наземных средств</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="measuresSetInfo">
                <xsd:sequence>
                    <xsd:element name="measures" type="paramMeasuresPoint" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Измерения параметра</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="paramMeasuresPoint">
        <xsd:annotation>
            <xsd:documentation>Точка измерений наземных средств</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="time" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Время измерения от времени пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="measures" type="paramMeasureValue" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Измерения параметров</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="covMatrix" type="xsd:double" minOccurs="0" maxOccurs="36">
                <xsd:annotation>
                    <xsd:documentation>Ковариационная матрица</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="paramMeasureValue">
        <xsd:annotation>
            <xsd:documentation>Точка измерений – расшивает measuresPointType для всех остальных средств)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="param" type="xsd:string"/>
            <xsd:element name="value" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Измерение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sko" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>СКО измерения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="targetSetInfo">
        <xsd:annotation>
            <xsd:documentation>Привязка ИС к ОЧ по ЦУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="agregat" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Идентификаторы агрегата (ОЧ)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="measurerId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор ИС в справочнике</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="launchMeasurerId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор ИС на пуске</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="targetSet">
        <xsd:annotation>
            <xsd:documentation>Набор простых ЦУ - углы</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="targetSetInfo">
                <xsd:sequence>
                    <xsd:element name="cuTime" type="model:timestampType">
                        <xsd:annotation>
                            <xsd:documentation>Время расчета ЦУ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="targetTrajectory" type="targetPoint" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Целеуказания</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="targetPoint">
        <xsd:annotation>
            <xsd:documentation>Расшивает точки ЦУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="time" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Время ЦУ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="params" type="cuParameter" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Параметры ЦУ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cuParameter">
        <xsd:annotation>
            <xsd:documentation>Параметры ЦУ – расшивает cuParameterValueType</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="parameter">
                <xsd:sequence>
                    <xsd:element name="sko" type="xsd:double" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Априорное СКО параметра ЦУ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="orbitParameter">
        <xsd:annotation>
            <xsd:documentation>Параметры орбиты</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="parameter">
                <xsd:sequence/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="seanceInfo">
        <xsd:annotation>
            <xsd:documentation>Данные о сеансе измерений/обработки/анализ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Имя сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Комментарий</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="time" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Время создания сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seanceCategory" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Категория сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pkIdentifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Условный идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seanceDestination" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Назначение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="seanceDataInfo">
        <xsd:annotation>
            <xsd:documentation>Дескриптор данных сеанса</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор данных сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifiedAgregat" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор агрегата сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seanceInputData" type="seanceInputDataInfo" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Входные данные сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seanceResultData" type="seanceResultDataInfo" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Выходные данные сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="seanceInputDataInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор входных данных сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="params" type="seanceParameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Параметры сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="externalMeasures" type="measuresSetInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Исходные ВТИ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trajectMeasures" type="measuresSetInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Исходные бортовые измерения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="data" type="psoSeanceInputData" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Входные данные сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="psoSeanceInputData">
        <xsd:annotation>
            <xsd:documentation>Входные данные сеанса ПК АИИ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="usedFallPoint" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Используемая ФТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="initialConditions" type="singleTrajectoryPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>НУ отделения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referenceTrajectory" type="realTrajectory" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Опорная траектория</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameter" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Параметр</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Имя параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Условный идентификатор дескриптора параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип значений параметра: double, int, boolean, string</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="parameterVariant">
                <xsd:annotation>
                    <xsd:documentation>Значение параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="seanceParameter">
        <xsd:annotation>
            <xsd:documentation>Параметр сеанса ПК АИИ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="parameter">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurerParameter">
        <xsd:annotation>
            <xsd:documentation>Параметр ИС</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="parameter">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="parameterVariant">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="double" type="parameterDouble"/>
                <xsd:element name="boolean" type="parameterBoolean"/>
                <xsd:element name="int" type="parameterInt"/>
                <xsd:element name="doubles" type="parameterDoubles"/>
                <xsd:element name="booleans" type="parameterBooleans"/>
                <xsd:element name="ints" type="parameterInts"/>
                <xsd:element name="string" type="parameterString"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterDouble">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Значение параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterDoubles">
        <xsd:sequence>
            <xsd:element name="values" type="xsd:double" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Значения параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterBoolean">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Значение параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterBooleans">
        <xsd:sequence>
            <xsd:element name="values" type="xsd:boolean" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Значения параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterInt">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Значение параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterInts">
        <xsd:sequence>
            <xsd:element name="values" type="xsd:int" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Значения параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameterString">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Значение параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="seanceResultDataInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор выходных данных сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="params" type="seanceParameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Параметры сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="externalMeasures" type="measuresSetInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Обработанные ВТИ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trajectMeasures" type="measuresSetInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Обработанные бортовые измерения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seanceTrajectory" type="realTrajectory" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Траектория</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="forecast" type="forecastFallPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Прогноз ТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="data" type="psoSeanceResultData" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Выходные данные сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="psoSeanceResultData">
        <xsd:sequence>
            <xsd:element name="atmEntry" type="singleTrajectoryPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Точка входа в атмосферу</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="initialConditions" type="singleTrajectoryPoint" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>НУ отделения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifiedFallPoint" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Результат идентификации ФТП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifiedSoompPoint" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Результат идентификации ТП от СООМП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soompPoints" type="soompFallPoint" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>ТП от СООМП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orbitParameters" type="orbitParameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Параметры орбиты</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="psoParamMeasuresSet">
        <xsd:complexContent>
            <xsd:extension base="paramMeasuresSet">
                <xsd:sequence>
                    <xsd:element name="sysError" type="model:systemErrorPolynomType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Полином систематической ошибки</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="launchBoardedMeasurer">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agregat" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор агрегата, на котором установлено бортовое ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fullName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Полное имя ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="params" type="measurerParameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Заданные технические характеристики ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="launchGroundedMeasurer">
        <xsd:complexContent>
            <xsd:extension base="measurer">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>Идентификатор ИС</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="realMeteoData">
        <xsd:sequence>
            <xsd:element name="polygonName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование полигона</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="realMeteoPoints" type="meteoPoint" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Точки реальных метеоданных</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="meteoPoint">
        <xsd:sequence>
            <xsd:element name="height" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Высота</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pressure" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Давление</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="temperature" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Температура</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="humidity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Влажность</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="windAzimuth" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Азимут ветра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="windVelocity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Скорость ветра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="launchTargetPoint">
        <xsd:sequence>
            <xsd:element name="agregat" type="model:agregatType" minOccurs="1" maxOccurs="1">
            </xsd:element>
            <xsd:element name="coordinates" type="simpleGeoPoint">
                <xsd:annotation>
                    <xsd:documentation>Координаты точки прицеливания на ЭКР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="fallPointName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Название точки падения</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="agregatNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Условный номер агрегата</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="agregatSerialNumber" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Серийный номер агрегата</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="agregatCategory" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Тип агрегата</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fallTime" type="xsd:double">
            <xsd:annotation>
                <xsd:documentation>Расчетное полетное время</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="lsag">
        <xsd:annotation>
            <xsd:documentation>ЛСАГ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="detectionUnits" type="soompDetectionUnit" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Пункты обнаружения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="usedAgregats" type="model:agregatType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Aгрегаты на которые настроен ЛСАГ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lsagNumber" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>Номер ЛСАГ</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="active" type="xsd:boolean" use="required">
            <xsd:annotation>
                <xsd:documentation>Флаг активности (задействованности) ЛСАГ</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="centralDetectionUnitName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Условный номер центрального ПО в ЛСАГ</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="soompDetectionUnit">
        <xsd:sequence>
            <xsd:element name="coordinates" type="simpleGeoPoint">
                <xsd:annotation>
                    <xsd:documentation>Координаты ПО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cu" type="model:soompMeasurerCuType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Условный номер ПО</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="measurerId" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation>Идентификатор измерительного средства</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="soompMeasurerPlan">
        <xsd:annotation>
            <xsd:documentation>Результаты планирования СООМП</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="meteoForecast" type="model:meteoForecastPointType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Объект прогноза</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="planTime" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Время создания/изменения данных</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="startingMeasurementTime" type="xsd:dateTime" use="required">
            <xsd:annotation>
                <xsd:documentation>Время начала активного измерения</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="finishingMeasurementTime" type="xsd:dateTime" use="required">
            <xsd:annotation>
                <xsd:documentation>Время окончания активного измерения</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="numberOfObjects" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>Количество объектов наблюдения</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="extHumidity" type="xsd:double">
            <xsd:annotation>
                <xsd:documentation>Влажность, %</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="extPressure" type="xsd:double">
            <xsd:annotation>
                <xsd:documentation>Давление, Па</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="extTemperature" type="xsd:double">
            <xsd:annotation>
                <xsd:documentation>Температура, К</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="planningMeasurer">
        <xsd:annotation>
            <xsd:documentation>Спланированных СПИ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="measurerId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор СПИ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cuTime" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Время расчета ЦУ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="groundedMeasurer">
        <xsd:annotation>
            <xsd:documentation>Измерительное средство (СПИ)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Обозначение ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="department" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование ИП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sysParams" type="model:stringMap">
                <xsd:annotation>
                    <xsd:documentation>Системные параметры ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="simpleLaunch">
        <xsd:annotation>
            <xsd:documentation>Сокращенный набор данных по пуску для выбора</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Условное наименование или условный номер пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startTime" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Расчетное время и дата старта (время начала движения (отрыва))</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="factStartTime" type="model:timestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Фактическое время и дата старта (время начала движения (отрыва))</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareIndex" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Индекс изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wareComplex" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Комплекс изделия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startPolygon" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование стартового полигона</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startPosition" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование стартовой позиции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="duLaunch">
        <xsd:annotation>
            <xsd:documentation>Сокращенный набор данных по пуску для ПК ДУ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="simpleLaunch">
                <xsd:sequence>
                    <xsd:element name="users" type="combatStrengthUser" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Номера боевого расчета</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="measurersCount" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Количество задействованных в пуске СПИ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="csMeasurersCount" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Количество задействованных в пуске СПИ, на которых назначены номера БР
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="launchCombatStrengths">
        <xsd:annotation>
            <xsd:documentation>Боевые расчеты пуска</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>UUID пуска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="measurersCombatStrengths" type="measurerCombatStrength" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Боевые расчеты измерительных средств (СПИ) на пуске</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="measurerCombatStrength">
        <xsd:sequence>
            <xsd:element name="measurer" type="groundedMeasurer">
                <xsd:annotation>
                    <xsd:documentation>ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="userId" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Имя ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="combatStrengthUser">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор номера БР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Имя номера БР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="command">
        <xsd:annotation>
            <xsd:documentation>Команда СУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор команды СУ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Обозначение команды</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование команды</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор типа команды</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nomTime" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Имя номера БР</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="realTime" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Фактическое время команды</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="seanceIdentifier">
        <xsd:annotation>
            <xsd:documentation>Данные для идентификации сеанса</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="launchId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор пуска, к которому принадлежит сеанс</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="categoryIdentifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Условный идентификатор категории сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seanceName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование сеанса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pkIdentifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Условный идентификатор ПК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="measurer">
        <xsd:annotation>
            <xsd:documentation>Данные по корневому наземному измерительному средству</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="measurerId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор корневого ИС (в справочнике)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Имя ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fullName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Полное имя ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeIdentifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор типа ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parentType" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Тип родительского ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parentTypeIdentifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор типа родительского ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="location" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>СК точки стояния ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="department" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование ИП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="departmentNum" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер ИП</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="params" type="measurerParameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Заданные технические характеристики ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="measurerLocation">
        <xsd:annotation>
            <xsd:documentation>Точка стояния ИС</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="time" type="model:timestampType">
                <xsd:annotation>
                    <xsd:documentation>Дата актуализации точки стояния ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coordinateSystem" type="coordinateSystem">
                <xsd:annotation>
                    <xsd:documentation>Система координат точки стояния ИС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="measurerLandmark">
        <xsd:annotation>
            <xsd:documentation>Ориентир точки стояния ИС</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Условный номер ориентира</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isActive" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак действующего ориентира</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="source" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Источник данных (например, документ, подтверждающий углы)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание ориентира</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="azimuth" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Азимут</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element  name="elevationAngle" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Угол места</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="distance" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дальность</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="visibilityBorderPoint">
        <xsd:annotation>
            <xsd:documentation>Точка границы видимости</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element  name="azimuth" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Азимут</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="elevationAngle" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Угол места</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>