unittests/list_restriction/dto-model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://nicetu.spb.ru/dto/model/types"
        xmlns="http://nicetu.spb.ru/dto/model/types"
        elementFormDefault="qualified">

    <xsd:simpleType name="dArrayType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                Массив вещественных
                чисел
            </xsd:documentation>
        </xsd:annotation>
       <xsd:list itemType="xsd:double"/>
    </xsd:simpleType>

    <xsd:simpleType name="d3ArrayType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                Массив из 3
                вещественных чисел, например координаты
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="dArrayType">
            <xsd:length value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="objectType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
                Базовый для всех объектов тип. Содержит свой идентификатор и
                список необязательных свойств.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="ident" type="xsd:long" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="namedObjectType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                Базовый класс именованных объектов
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:string" use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ellipseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Модель Земли</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="namedObjectType">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Условное наименование</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="system" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Признак того, что эллипс системный, не может быть удален</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="la" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Большая полуось</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="e2" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Квадрат 1-ого эксцентриситета</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="m" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Коэффициент масштабирования</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="j2" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Константа 2-й гармоники геопотенциала</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="j4" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Константа 4-й гармоники геопотенциала</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- Углы ориентации вводятся и отображаются в угловых секундах, в БД хранятся в радианах -->
                    <xsd:element name="orientation" type="d3ArrayType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Углы ориентации относительно ЭКР по X, Y, Z</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="displacement" type="d3ArrayType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Сдвиг центра эллипсоида относительно ЭКР по X, Y, Z</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="amgTable2DValuesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Значение однопараметрической или псевдодвухпараметрической функции/таблицы АМГХ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="arg" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Значение аргумента таблицы АМГХ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="f1" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Значение функции f1(arg) таблицы АМГХ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="f2" type="xsd:double" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Значение функции f2(arg) таблицы АМГХ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="scatteringEllipseAxesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Оси эллипса рассеивания</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:attribute name="left" type="xsd:double" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Левая полуось эллипса</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="right" type="xsd:double" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Правая полуось эллипса</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="up" type="xsd:double" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Верхняя полуось эллипса</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="down" type="xsd:double" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Нижняя полуось эллипса</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="amgTable3DValuesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Значение двухпараметрической функции/таблицы АМГХ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="arg1" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Значение аргумента 1 таблицы АМГХ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arg2" type="xsd:double" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Значение аргумента 2 таблицы АМГХ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="f" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Значение функции f(arg1) или f(arg1,arg2) таблицы АМГХ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="systemErrorPolynomType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Полином систематической ошибки</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:attribute name="pow" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Степень полинома</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="baseTime" type="xsd:double" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Начало отсчета времени</xsd:documentation>
                        <!-- Время измерений для начала отсчета времени для полинома систематической ошибки -->
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="coeffs" type="dArrayType">
                    <xsd:annotation>
                        <xsd:documentation>Коэффициенты</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="std" type="dArrayType">
                    <xsd:annotation>
                        <xsd:documentation>СКО коэффициентов</xsd:documentation>
                        <!-- размер массива должен соответствовать размеру массива коэффициентов -->
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurersDepartmentType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Район дислокации ИП</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="namedObjectType">
                <xsd:attribute name="number" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Порядковый номер ИП на полигоне</xsd:documentation>
                        <!-- используется для вывода номеров ИС/приборов СПИ в нужной последовательности -->
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="timestampType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                ВременнАя метка, целые секунды относительно полуночи
                01.01.1970 + микросекунды
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="seconds" type="xsd:long" use="required" />
        <xsd:attribute name="micros" type="microsecondType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="microsecondType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                Микросекунды - целое от 0 до 999999
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="999999" />
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="agregatCategoryType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Тип агрегата</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="namedObjectType">
                <xsd:attribute name="identifier" type="xsd:string" use="required" >
                    <xsd:annotation>
                        <xsd:documentation>Идентификатор</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="isSeparatedPart" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак отделяемой части</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="isFallingPart" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак падающей части</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="isOrbitalPart" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак орбитального объекта</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="hasEngines" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак наличия двигательных установок</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="hasTrajectory" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак наличия наличия у агрегата отдельной траектории</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="isFightingEquipment" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак принадлежности к БО</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="isSystem" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак того, что средство системное, не может быть изменено/удалено</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="propertyPair">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="transportItemType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                ТС обеспечения
                испытаний
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="namedObjectType">
                <xsd:sequence>
                    <xsd:element name="fixDatePlan" type="timestampType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата планового устранения неисправности</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="serialNumber" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Заводской номер</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="unavailableSign" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Признак недоступности</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="unavailableReason" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Причина неработоспособности</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="uniqueObjectType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">
                Базовый класс уникально идентифицируемых объектов
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="namedObjectType">
                <xsd:attribute name="identifier" type="xsd:string" use="required" >
                    <xsd:annotation>
                        <xsd:documentation>Идентификатор</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurerParameterDescriptorType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Дескриптор параметра ИС</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="uniqueObjectType">
                <xsd:attribute name="type" type="xsd:string" default="double">
                    <xsd:annotation>
                        <xsd:documentation>Тип значений параметра: double, int, boolean, string</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="size" type="xsd:int" default="1">
                    <xsd:annotation>
                        <xsd:documentation>Размерность массива value</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="precision" type="xsd:int" default="1">
                    <xsd:annotation>
                        <xsd:documentation>Точность значений параметра</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="regex" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Регулярное выражения для значения параметра</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="form" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Форма или вид</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="multiplier" type="xsd:double" default="1">
                    <xsd:annotation>
                        <xsd:documentation>Множитель для пересчета значений в единицы СИ</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurerLocationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Точка стояния ИС</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="geoTime" type="timestampType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата, с которой эти координаты актуальны для пусков</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="launchGroundedMeasurerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Наземное измерительное средство, задействованное на пуске</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="launchBoardedMeasurerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Бортовое измерительное средство, задействованное на пуске</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:attribute name="serialNumber" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Серийный номер</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="meteoForecastPointType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Данные метеопрогнозов</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="predictionTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата и время формирования прогноза</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="forecastDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата и время, на которые сделан прогноз</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="t" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Температура, K</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="p" type="xsd:double" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Давление, Па</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hum" type="xsd:double" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Влажность, %</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="soompMeasurerCuType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Целеуказания для СООМП</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="cuTime" type="timestampType">
                        <xsd:annotation>
                            <xsd:documentation>Время расчета/изменения ЦУ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="acousticSensorGainCoeff1" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления акустического датчика, канал 1</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="acousticSensorGainCoeff2" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления акустического датчика, канал 2</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="infrasonicSensorGainCoeff1" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления инфразвукового датчика, канал 1</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="infrasonicSensorGainCoeff2" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления инфразвукового датчика, канал 2</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="seismometerGainCoeff" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления сейсмометра</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="seismographGainCoeff1" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления сейсмографа, канал 1</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="seismographGainCoeff2" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления сейсмографа, канал 2</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="seismographGainCoeff3" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Коэфф.усиления сейсмографа, канал 3</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="agregatType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Часть изделия</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <!-- В настоящее время принята своя сквозная нумерация для агрегата одного типа -->
                <xsd:attribute name="number" type="xsd:int" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Условный номер</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="serialNumber" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>Серийный номер агрегата</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="planSeparateTime" type="xsd:double" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Расчетное время отделения или время выключения двигателей от начала движения</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="realSeparateTime" type="xsd:double" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>Фактическое время отделения или время выключения двигателей от начала движения</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="crdSysCategoryType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Тип системы координат</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="uniqueObjectType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Наземные измерительные средства</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
                <xsd:sequence>
                    <xsd:element name="serialNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Серийный номер</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lastTgoDate" type="timestampType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата последнего топогеодезического обслуживания (ТГО)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fixDatePlan" type="timestampType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата планового устранения неисправности</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дополнительная информация</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Условный номер (например, номер теодолита)</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ftpServer" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Адрес ftp-сервера СПИ</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="unavailableSign" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Признак недоступности</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="unavailableReason" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Причина неработоспособности</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="unexploited" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Выведено из эксплуатации</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurerCategoryType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Типовой элемент полигонного измерительного комплекса</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="namedObjectType">
                <xsd:attribute name="hasLocation" type="xsd:boolean" use="required"/>
                <xsd:attribute name="isSystem" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Признак того, что средство системное, не может быть изменено/удалено</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="icon" type="xsd:string" use="optional"/>
                <xsd:attribute name="identifier" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>Условный идентификатор</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="measurerParameterType">
        <xsd:annotation>
            <xsd:documentation xml:lang="ru">Техническая характеристика ИС</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="objectType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="stringMap">
        <xsd:sequence>
            <xsd:element name="stringEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="key" type="xsd:string"/>
                        <xsd:element name="value" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="longMap">
        <xsd:sequence>
            <xsd:element name="longEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="key" type="xsd:long"/>
                        <xsd:element name="value" minOccurs="0" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>