unittests/list_restriction/list_restriction.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:model="http://nicetu.spb.ru/dto/model/types"
                  xmlns:tns="http://nicetu.spb.ru/common-service"
                  name="common-service"
                  targetNamespace="http://nicetu.spb.ru/common-service">

    <wsdl:types>
        <xsd:schema xmlns:service="http://nicetu.spb.ru/dto/service/types"
                    xmlns:model="http://nicetu.spb.ru/dto/model/types"
                    targetNamespace="http://nicetu.spb.ru/common-service"
                    elementFormDefault="qualified">
            <xsd:import namespace="http://nicetu.spb.ru/dto/service/types" schemaLocation="dto-service.xsd"/>
            <xsd:import namespace="http://nicetu.spb.ru/dto/model/types" schemaLocation="dto-model.xsd"/>

            <xsd:element name="getLaunches">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getLaunchesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="service:launchInfo" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Список пусков</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getLaunchesForStartPolygon">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="polygonName" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Наименование полигона пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getLaunchesForStartPolygonResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="service:launchInfo" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Список пусков</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteSeanceById">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="seanceId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteSeanceByIdResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteSeance">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="seanceIdentifier" type="service:seanceIdentifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteSeanceResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getExternalMeasuresSet">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ident" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getExternalMeasuresSetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="paramMeasuresSet" type="service:paramMeasuresSet"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="saveForecastFallPoint">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="seanceIdentifier" type="service:seanceIdentifier"/>
                        <xsd:element name="fallPoint" type="service:forecastFallPoint"/>
                        <xsd:element name="aggregateId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="saveForecastFallPointResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="saveSeanceTrajectory">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="seanceIdentifier" type="service:seanceIdentifier"/>
                        <xsd:element name="trajectory" type="service:realTrajectory"/>
                        <xsd:element name="aggregateId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="saveSeanceTrajectoryResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getNominalTrajectory">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="launchId" type="xsd:long">
                            <xsd:annotation>
                                <xsd:documentation>Ид-р пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getNominalTrajectoryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="trajectory" type="service:trajectory">
                            <xsd:annotation>
                                <xsd:documentation>Рассчетная траектория из пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getNominalTrajectories">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="launchId" type="xsd:long">
                            <xsd:annotation>
                                <xsd:documentation>Ид-р пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getNominalTrajectoriesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="trajectory" type="service:trajectory" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Рассчетные траектории из пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getEllipse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identifier" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>ид-р эллипсоида</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getEllipseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ellipse" type="model:ellipseType" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getAllEllipses">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllEllipsesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ellipses" type="model:ellipseType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getStartTime">
                <xsd:complexType>
                    <xsd:element name="launchId" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>ид-р пуска</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStartTimeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="startTime" type="model:timestampType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getRealStartTime">
                <xsd:complexType>
                    <xsd:element name="launchId" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>ид-р пуска</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getRealStartTimeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="realStartTime" type="model:timestampType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getSimpleLaunches">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getSimpleLaunchesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="launches" type="service:simpleLaunch" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCommands">
                <xsd:complexType>
                    <xsd:element name="launchId" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>ид-р пуска</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCommandsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="commands" type="service:command" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getTieSet">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="launchId" type="xsd:long">
                            <xsd:annotation>
                                <xsd:documentation>Идентификатор пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="aggregateId" type="xsd:long" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Идентификатор агрегата</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="measurerId" type="xsd:long" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Идентификатор ИС в справочнике</xsd:documentation>
                                <!-- Фильтрация осуществляется по значениям launchGroundedMeasurerType.GroundedMeasurer.ident -->
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTieSetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="targetSets" type="service:targetSet" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="saveTieSet">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="launchId" type="xsd:long">
                            <xsd:annotation>
                                <xsd:documentation>Идентификатор пуска</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="targetSets" type="service:targetSet" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Набор ЦУ</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="saveTieSetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:sequence/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getSeanceInfo">
                <xsd:complexType>
                    <xsd:element name="launchId" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>ид-р пуска</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSeanceInfoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="seanceInfo" type="service:seanceInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getLaunchesRequest">
        <wsdl:part name="parameters" element="tns:getLaunches"/>
    </wsdl:message>
    <wsdl:message name="getLaunchesResponse">
        <wsdl:part name="parameters" element="tns:getLaunchesResponse"/>
    </wsdl:message>

    <wsdl:message name="getLaunchesForStartPolygonRequest">
        <wsdl:part name="parameters" element="tns:getLaunchesForStartPolygon"/>
    </wsdl:message>
    <wsdl:message name="getLaunchesForStartPolygonResponse">
        <wsdl:part name="parameters" element="tns:getLaunchesForStartPolygonResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteSeanceByIdRequest">
        <wsdl:part name="parameters" element="tns:deleteSeanceById"/>
    </wsdl:message>
    <wsdl:message name="deleteSeanceByIdResponse">
        <wsdl:part name="parameters" element="tns:deleteSeanceByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteSeanceRequest">
        <wsdl:part name="parameters" element="tns:deleteSeance"/>
    </wsdl:message>
    <wsdl:message name="deleteSeanceResponse">
        <wsdl:part name="parameters" element="tns:deleteSeanceResponse"/>
    </wsdl:message>

    <wsdl:message name="getExternalMeasuresSetRequest">
        <wsdl:part name="parameters" element="tns:getExternalMeasuresSet"/>
    </wsdl:message>
    <wsdl:message name="getExternalMeasuresSetResponse">
        <wsdl:part name="parameters" element="tns:getExternalMeasuresSetResponse"/>
    </wsdl:message>

    <wsdl:message name="saveForecastFallPointRequest">
        <wsdl:part name="parameters" element="tns:saveForecastFallPoint"/>
    </wsdl:message>
    <wsdl:message name="saveForecastFallPointResponse">
        <wsdl:part name="parameters" element="tns:saveForecastFallPointResponse"/>
    </wsdl:message>

    <wsdl:message name="saveSeanceTrajectoryRequest">
        <wsdl:part name="parameters" element="tns:saveSeanceTrajectory"/>
    </wsdl:message>
    <wsdl:message name="saveSeanceTrajectoryResponse">
        <wsdl:part name="parameters" element="tns:saveSeanceTrajectoryResponse"/>
    </wsdl:message>

    <wsdl:message name="getNominalTrajectoryRequest">
        <wsdl:part name="parameters" element="tns:getNominalTrajectory"/>
    </wsdl:message>
    <wsdl:message name="getNominalTrajectoryResponse">
        <wsdl:part name="parameters" element="tns:getNominalTrajectoryResponse"/>
    </wsdl:message>

    <wsdl:message name="getNominalTrajectoriesRequest">
        <wsdl:part name="parameters" element="tns:getNominalTrajectories"/>
    </wsdl:message>
    <wsdl:message name="getNominalTrajectoriesResponse">
        <wsdl:part name="parameters" element="tns:getNominalTrajectoriesResponse"/>
    </wsdl:message>

    <wsdl:message name="getEllipseRequest">
        <wsdl:part name="parameters" element="tns:getEllipse"/>
    </wsdl:message>
    <wsdl:message name="getEllipseResponse">
        <wsdl:part name="parameters" element="tns:getEllipseResponse"/>
    </wsdl:message>

    <wsdl:message name="getAllEllipsesRequest">
        <wsdl:part name="parameters" element="tns:getAllEllipses"/>
    </wsdl:message>
    <wsdl:message name="getAllEllipsesResponse">
        <wsdl:part name="parameters" element="tns:getAllEllipsesResponse"/>
    </wsdl:message>

    <wsdl:message name="getStartTimeRequest">
        <wsdl:part name="parameters" element="tns:getStartTime"/>
    </wsdl:message>
    <wsdl:message name="getStartTimeResponse">
        <wsdl:part name="parameters" element="tns:getStartTimeResponse"/>
    </wsdl:message>

    <wsdl:message name="getRealStartTimeRequest">
        <wsdl:part name="parameters" element="tns:getRealStartTime"/>
    </wsdl:message>
    <wsdl:message name="getRealStartTimeResponse">
        <wsdl:part name="parameters" element="tns:getRealStartTimeResponse"/>
    </wsdl:message>

    <wsdl:message name="getSimpleLaunchesRequest">
        <wsdl:part name="parameters" element="tns:getSimpleLaunches"/>
    </wsdl:message>
    <wsdl:message name="getSimpleLaunchesResponse">
        <wsdl:part name="parameters" element="tns:getSimpleLaunchesResponse"/>
    </wsdl:message>

    <wsdl:message name="getCommandsRequest">
        <wsdl:part name="parameters" element="tns:getCommands"/>
    </wsdl:message>
    <wsdl:message name="getCommandsResponse">
        <wsdl:part name="parameters" element="tns:getCommandsResponse"/>
    </wsdl:message>

    <wsdl:message name="getTieSetRequest">
        <wsdl:part name="parameters" element="tns:getTieSet"/>
    </wsdl:message>
    <wsdl:message name="getTieSetResponse">
        <wsdl:part name="parameters" element="tns:getTieSetResponse"/>
    </wsdl:message>

    <wsdl:message name="saveTieSetRequest">
        <wsdl:part name="parameters" element="tns:saveTieSet"/>
    </wsdl:message>
    <wsdl:message name="saveTieSetResponse">
        <wsdl:part name="parameters" element="tns:saveTieSetResponse"/>
    </wsdl:message>

    <wsdl:message name="getSeanceInfoRequest">
        <wsdl:part name="parameters" element="tns:getSeanceInfo"/>
    </wsdl:message>
    <wsdl:message name="getSeanceInfoResponse">
        <wsdl:part name="parameters" element="tns:getSeanceInfoResponse"/>
    </wsdl:message>

    <wsdl:portType name="CommonService">
        <wsdl:documentation>Интерфейс сервиса общего назначения</wsdl:documentation>
        <wsdl:operation name="getLaunches">
            <wsdl:documentation>Получение списка пусков</wsdl:documentation>
            <wsdl:input message="tns:getLaunchesRequest"/>
            <wsdl:output message="tns:getLaunchesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLaunchesForStartPolygon">
            <wsdl:documentation>Получение списка пусков для текущего полигона пуска</wsdl:documentation>
            <wsdl:input message="tns:getLaunchesForStartPolygonRequest"/>
            <wsdl:output message="tns:getLaunchesForStartPolygonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSeanceById">
            <wsdl:documentation>Удаление сеанса по идентификатору сеанса</wsdl:documentation>
            <wsdl:input message="tns:deleteSeanceByIdRequest"/>
            <wsdl:output message="tns:deleteSeanceByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSeance">
            <wsdl:documentation>Удаление сеанса по категории и имени</wsdl:documentation>
            <wsdl:input message="tns:deleteSeanceRequest"/>
            <wsdl:output message="tns:deleteSeanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getExternalMeasuresSet">
            <wsdl:documentation>Получение данных (точек) внешнетраекторных измерений сеанса</wsdl:documentation>
            <wsdl:input message="tns:getExternalMeasuresSetRequest"/>
            <wsdl:output message="tns:getExternalMeasuresSetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveForecastFallPoint">
            <wsdl:documentation>Сохранить прогноз точки падения агрегатов</wsdl:documentation>
            <wsdl:input message="tns:saveForecastFallPointRequest"/>
            <wsdl:output message="tns:saveForecastFallPointResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveSeanceTrajectory">
            <wsdl:documentation>Сохранение траектории агрегата</wsdl:documentation>
            <wsdl:input message="tns:saveSeanceTrajectoryRequest"/>
            <wsdl:output message="tns:saveSeanceTrajectoryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNominalTrajectory">
            <wsdl:documentation>Получение расчетной траектории пуска</wsdl:documentation>
            <wsdl:input message="tns:getNominalTrajectoryRequest"/>
            <wsdl:output message="tns:getNominalTrajectoryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNominalTrajectories">
            <wsdl:documentation>Получение расчетной траектории пуска</wsdl:documentation>
            <wsdl:input message="tns:getNominalTrajectoriesRequest"/>
            <wsdl:output message="tns:getNominalTrajectoriesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEllipse">
            <wsdl:documentation>Получение параметров эллипсоида по его идентификатору</wsdl:documentation>
            <wsdl:input message="tns:getEllipseRequest"/>
            <wsdl:output message="tns:getEllipseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEllipses">
            <wsdl:documentation>Получение из БД параметров всех эллипсоидов</wsdl:documentation>
            <wsdl:input message="tns:getAllEllipsesRequest"/>
            <wsdl:output message="tns:getAllEllipsesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStartTime">
            <wsdl:documentation>Получить время старта пуска по его идентификатору launchId</wsdl:documentation>
            <wsdl:input message="tns:getStartTimeRequest"/>
            <wsdl:output message="tns:getStartTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRealStartTime">
            <wsdl:documentation>Получить фактическое время старта пуска по его идентификатору launchId</wsdl:documentation>
            <wsdl:input message="tns:getRealStartTimeRequest"/>
            <wsdl:output message="tns:getRealStartTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSimpleLaunches">
            <wsdl:documentation>Получить список пусков</wsdl:documentation>
            <wsdl:input message="tns:getSimpleLaunchesRequest"/>
            <wsdl:output message="tns:getSimpleLaunchesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCommands">
            <wsdl:documentation>Получить список команд СУ</wsdl:documentation>
            <wsdl:input message="tns:getCommandsRequest"/>
            <wsdl:output message="tns:getCommandsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTieSet">
            <wsdl:documentation>Получить набор ЦУ</wsdl:documentation>
            <wsdl:input message="tns:getTieSetRequest"/>
            <wsdl:output message="tns:getTieSetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveTieSet">
            <wsdl:documentation>Сохранить набор ЦУ</wsdl:documentation>
            <wsdl:input message="tns:saveTieSetRequest"/>
            <wsdl:output message="tns:saveTieSetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSeanceInfo">
            <wsdl:documentation>Получение дескрипторов сеансов пуска</wsdl:documentation>
            <wsdl:input message="tns:getSeanceInfoRequest"/>
            <wsdl:output message="tns:getSeanceInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CommonServiceBinding" type="tns:CommonService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getLaunches">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getLaunches"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLaunchesForStartPolygon">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getLaunchesForStartPolygon"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSeanceById">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/deleteSeanceById"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSeance">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/deleteSeance"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExternalMeasuresSet">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getExternalMeasuresSet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveForecastFallPoint">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/saveForecastFallPoint"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveSeanceTrajectory">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/saveSeanceTrajectory"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNominalTrajectory">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getNominalTrajectory"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNominalTrajectories">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getNominalTrajectories"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEllipse">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getEllipse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEllipses">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getAllEllipses"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStartTime">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getStartTime"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRealStartTime">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getRealStartTime"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSimpleLaunches">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getSimpleLaunches"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommands">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getCommands"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTieSet">
            <soap:operation soapAction="http://nicetu.spb.ru/rmv-service/getTieSet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveTieSet">
            <soap:operation soapAction="http://nicetu.spb.ru/rmv-service/saveTieSet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSeanceInfo">
            <soap:operation soapAction="http://nicetu.spb.ru/common-service/getSeanceInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CommonServiceImpl">
        <wsdl:documentation>Сервис общего назначения</wsdl:documentation>
        <wsdl:port name="commonServicePort" binding="tns:CommonServiceBinding">
            <soap:address location="http://as.panda.nicetu.spb.ru:9080/panda-server/common-service?wsdl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>