unittests/empty_element_wsdl/empty_element.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://recetu.com/"
  xmlns:tns="http://recetu.com/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:nic="http://recetu.com/AIPSchema"
  name="BackendImplService"
>
  <types>
    <xsd:schema
      targetNamespace="http://recetu.com/"
      xmlns:tns="http://recetu.com/"
      xmlns:nic="http://recetu.com/AIPSchema"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
      <xsd:complexType name="state">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="seanceRemovingState" type="tns:seanceRemovingState"/>
            <xsd:element name="idleState" type="tns:idleState"/>
          </xsd:choice>
          <xsd:element name="t0" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="idleState">
        <xsd:attribute type="xsd:string" name="errorDescription" use="optional"/>
        <xsd:attribute type="xsd:boolean" name="isCanceled" use="optional"/>        
      </xsd:complexType>
      <xsd:complexType name="seanceRemovingState"/>
    </xsd:schema>
  </types>
  <message name="getState" />
  <message name="getStateResponse">
    <part name="state" type="tns:state"/>
  </message>
  <portType name="Backend">
    <operation name="getState">
      <input wsam:Action="http://recetu.com/Backend/getStateRequest" message="tns:getState" />
      <output wsam:Action="http://recetu.com/Backend/getStateResponse" message="tns:getStateResponse" />
    </operation>
  </portType>
  <binding name="BackendImplPortBinding" type="tns:Backend">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
     <operation name="getState">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://recetu.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://recetu.com/" />
      </output>
    </operation>
  </binding>
  <service name="BackendImplService">
    <port name="BackendImplPort" binding="tns:BackendImplPortBinding">
      <soap:address location="${ENDPOINT}/test_empty_element" />
    </port>
  </service>
</definitions>
