kdsoap/unittests/builtinhttp/mywsdl.wsdl

<?xml version='1.0' encoding='UTF-8' ?> 
<definitions  name ='MyWsdl'   targetNamespace = 'http://www.kdab.com/xml/MyWsdl.wsdl'
	 xmlns:kwsdl='http://www.kdab.com/xml/MyWsdl.wsdl' 
	 xmlns:kdab='http://www.kdab.com/xml/MyWsdl.xsd' 
	 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
	 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	 xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <types>
    <xsd:schema targetNamespace='http://www.kdab.com/xml/MyWsdl.xsd' xmlns='http://www.w3.org/2001/XMLSchema'>
      <element name="HelloWorld">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="who" type="xsd:string" />
          </sequence>
        </complexType>
      </element>
      <simpleType name="LimitedString">
        <restriction base="xsd:string">
          <minLength value="1"/>
          <maxLength value="128"/>
        </restriction>
      </simpleType>
      <simpleType name="EmployeeName">
        <restriction base="kdab:LimitedString">
        </restriction>
      </simpleType>
      <simpleType name="EmployeeTypeEnum">
        <restriction base="xsd:string">
          <enumeration value="Janitor"/>
          <enumeration value="Developer"/>
          <enumeration value="Tester"/>
          <enumeration value="TeamLeader"/>
          <enumeration value="CEO"/>
        </restriction>
      </simpleType>
      <element name="EmployeeType">
        <complexType>
          <sequence>
            <element name="type" type="kdab:EmployeeTypeEnum"/>
            <element name="otherRoles" type="kdab:EmployeeTypeEnum" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
        </complexType>
      </element>
    </xsd:schema>
  </types>
  <message name='addEmployee'>
    <part name='employeeType' type='kdab:EmployeeType'/>
    <part name='employeeName' type='kdab:EmployeeName'/>
    <part name='employeeCountry' type='kdab:LimitedString'/>
  </message>
  <message name='addEmployeeResponse'>
    <part name='bstrReturn' type='xsd:string'/>
  </message>

  <portType name='MyWsdlPortType'>
    <operation name='addEmployee'>
      <input message='kwsdl:addEmployee' />
      <output message='kwsdl:addEmployeeResponse' />
    </operation>
  </portType>
  <binding name='MyWsdlBinding' type='kwsdl:MyWsdlPortType' >
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
    <operation name='addEmployee' >
      <soap:operation soapAction='http://www.kdab.com/SoapAction' />
      <input>
        <soap:body use='encoded' namespace='http://www.kdab.com/xml/MyWsdl.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://www.kdab.com/xml/MyWsdl.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
  </binding>
  <service name='MyWsdl' >
    <port name='MyWsdlPortType' binding='kwsdl:MyWsdlBinding' >
      <soap:address location='http://127.0.0.1:4242/xml/mywsdl.wsdl' />
    </port>
  </service>
</definitions>
